* {
  margin: 0;
  text-decoration: none;
}

.navbar {
  background-color: crimson;
  font-size: 1.5rem;
}

body {
  background-color: darkcyan;
  font-family: "Times New Roman", Times, serif;
}

.logo a {
  font-size: 60px;
  font-weight: 900;
  color: white;

  margin: 0 20px;
}

.logo a:hover {
  color: lightgreen;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

li a:hover {
  color: gold;
}
