* {
  margin: 0;
  text-decoration: 0;
}

body {
  background-color: rgb(216, 158, 86);
}

.geepay img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 20px 20px;
}

h1 {
  font-size: 50px;
  display: inline;
  padding: 40px 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.great {
  font-style: italic;
  color: rgb(128, 120, 120);
}

a {
  color: black;
}

.funds {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.add,
.convert,
.send {
  height: 50px;
  width: 150px;
  background-color: rgb(237, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.add:hover,
.convert:hover,
.send:hover {
  opacity: 50%;
  background-color: rgb(117, 184, 117);
  transition: transform 0.2s ease;
  transform: scale(0.9);
}

h2 {
  font-size: 35px;
  color: #fff;
  margin: 20px 180px;
  height: 80px;
  width: 400px;
  cursor: pointer;
}

h3 {
  font-size: 25px;
  margin: 20px 100px;
}

h4 {
  font-size: 22px;
  margin: 20px 200px;
  color: #fff;
}

p {
  font-size: 15px;
  font-weight: bold;
  margin: 20px 200px;
  /* display: inline; */
}

.flag img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin: 20px 150px;
  /* position: relative;
  top: auto;
  right: 20px; */
}

.card {
  height: 640px;
  width: 500px;
  border: 2px solid rgb(232, 228, 228);
  border-radius: 10px;
  margin: 10px 80px;
}

.dollar {
  height: 120px;
  width: 499px;
}

.dollar:hover {
  border: 2px solid rgb(232, 228, 228);
  border-radius: 10px;
}

.naira {
  height: 120px;
  width: 499px;
}

.naira:hover {
  border: 2px solid rgb(232, 228, 228);
  border-radius: 10px;
}

.euro {
  height: 120px;
  width: 499px;
}

.euro:hover {
  border: 2px solid rgb(232, 228, 228);
  border-radius: 10px;
}

.pound {
  height: 120px;
  width: 499px;
}

.pound:hover {
  border: 2px solid rgb(232, 228, 228);
  border-radius: 10px;
}

ul {
  font: 32px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
}

li {
  font-weight: 300;
  list-style: none;
  margin: 20px;
}

.rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 200px;
}
